.div{
    height: 700px;
    width: 1000px;
    background-color:wheat;
}
.div1{
    height: 300px;
    width:1000px;
    background-color: ghostwhite;
}
.h4{
    font-size: 10px;
    padding-top:20px;
}
.h1{
    font-size: 20px;
    position: relative;
    left: 380px;
}
.h2{height: 100px;
    width: 300px;
    font-size: 10px;
    position: relative;
    left: 350px;
}
.h3{
    position: relative;
    top: 38px;
    right: 100px;
    background-color: blue;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.div2{
    height: 200px;
    width: 1000px;
    background-color: lightgray;
}
.h5{
    height: 180px;
    width: 250px;
    background-color: white;
    position: relative;
    left: 200px;
    bottom: 40px;
    margin-bottom: 10px;
}
.h6{
    height: 180px;
    width: 250px;
    background-color: white;
    position: relative;
    right: 270px;
    bottom:270px;
    margin-bottom: 10px;
    float: right;
}
.h7{
    height: 180px;
    width: 250px;
    background-color: white;
    position: relative;
    float:left;
    left: 200px;
    bottom: 30px;
}
.h8{
    height: 180px;
    width: 250px;
    background-color: white;
    position: relative;
    float: right;
    right: 20px;
    bottom: 70px;


}
.h9{
    position: relative;
    left: 10px;
    top: 100px;
    font-style: italic;
    font-size: 13px;
}
.h10{
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    bottom: 10px;
    right: 60px;
}
.div3{
    height: 200px;
    width: 1000px;
    background-color:ghostwhite;
}
.i{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: orange;
    font-size: 20px;
    position: relative;
    bottom: 130px;  
}
.i1{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:skyblue;
    font-size: 20px;
    position: relative;
    bottom: 130px;  
}
.i2{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:blue;
    font-size: 20px;
    position: relative;
    bottom: 130px;  
}
.i3{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:red;
    font-size: 20px;
    position: relative;
    bottom: 130px;  
}
img{
    height: 50px;
    width: 50px;
}
i{
    font-size: 30px;
    position: relative;
    left: 10px;
    top: 10px;
    color: white;
}